<div class="menu">
	<a href="#">one column</a>
	<a href="DefaultController/twocolomn">two column right</a>
	<a href="#">two column left</a>
	<a href="#">three column left</a>
	<a href="#">three column center</a>
	<a href="#">three column right</a>
</div>